<!--nav-->
<section class="flexbox nav ">
<h2 class="logo">Wander</h2>

    <input type="checkbox" id="check">
    <label for="check">   
      <i class="fa fa-bars" aria-hidden="hidden" id="btn">  </i>  
        <i class="fas fa-times" id="cancel"></i>
        </i>
    </label> 
    <!--"fa fa-bars" -->

    <div class="sidebar">
    <header> Save your Place</header>
      <div class ="search-bar ">
             <div id="geocoder" class="geocoder"></div>

          <button  class = "buttonUser" id="saveLocation" >Save location</button></a>


   

           </div>

    <div class="profile-card">
      <div class="card-header">
        <div class="pic">
          <div>
                <img src="pic.png" alt="">
          </div>
        </div>
        <div class="name">Welcome Lila</div>
       <div class="desc">share your Map</div> 
        <div class="sm ">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-github"></a>
          <a href="#" class="fab fa-youtube"></a>
        </div>
        <a href="/favoritesPlaces" class="contact-btn"> show places</a>

      <!--<a href="/favoritesPlaces">List of your favorites places </a>-->
       
      </div>
      <div class="card-footer">
        <div class="numbers">
          <div class="item">
            <span>120</span>
           <a href="/#">Places</a>
          </div>
          <div class="border"></div>
          <div class="item">
            <span>127</span>
              <a href="/#">Following</a>
          </div>
          <div class="border"></div>
          <div class="item">
            <span>120K</span>
            <a href="/#">Followers</a>
          </div>
        </div>
      </div>
    </div>
  




   </section>

     </section>
  
  


