<section class="flexbox nav ">
   <h2 class="logo">Wander</h2>
 <section class="flexbox ">
<input type="checkbox" id="check" checked>
<!--checkbox-->
    <label for="check">
      <i class="fa fa-bars" aria-hidden="hidden" id="cancel"></i>
      <i class="fa fa-bars" id="btn"></i>
    </label> 
<!-- sidebar-->
    <div class="sidebar">
    <header>Search a new place      
    </header>
        <div class ="search-bar ">
             <div id="geocoder" class="geocoder"></div>
          <a href="/favoritesPlaces" >
          <button class="buttonUser" id="saveLocation" >Save location</button></a>
           </div>      
    <div class="profile-card">
      <div class="card-scrollbar">
        <div class="name"> your list </div>
       {{#each places}}
<a href="/favoritesPlaces/{{this._id}}"><h1>{{name}}</h1></a>
</form> 
{{/each}}
<form action="/favoritesPlaces/filter" class = "form" method="POST">
<label for="tag"></label>
  <select name="tag" id="tag">
    <option selected> Choose...</option>
    <option value="Food">Food</option>
    <option value="Bar">Bar</option>
    <option value="Park">Park</option>
    <option value="Sports">Sports</option>
    <option value="Culture">Culture</option>
    <option value="Club">Club, Party!!!</option>
  </select>
  <button type="submit">Filter</button>
</form>
</div>
<div class="card-footer">
        <div class="numbers">
          <div class="item">
              <a href="/homepage" class=> Home</a> 
          </div>
          <div class="border"></div>
          <div class="item">
               <a href="/favoritesPlaces" class=> Show List</a>
          </div>
          <div class="border"></div>
          <div class="item">
               <a href="/logout" class=> Logout</a>
          </div>
        </div>
      </div>
   </section>
     </section>










